[submodule "extern/dxmath"]
	path = extern/dxmath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/shanehyde/freetype
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/walterschell/Lua
[submodule "extern/RmlUi"]
	path = extern/RmlUi
	url = https://github.com/Noctonyx/RmlUi.git
[submodule "extern/sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "extern/lunasvg"]
	path = extern/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "extern/fx-gltf"]
	path = extern/fx-gltf
	url = https://github.com/jessey-git/fx-gltf
